.cart-dropdown-container {
  position: absolute;
  width: 17rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  border: 1px solid #ffcdd2;
  background: linear-gradient(-45deg, #fff6f1, #ddf7ff);
  top: 6rem;
  right: 3rem;
  z-index: 10;

  .empty-message {
    font-size: 1rem;
    margin: auto;
  }

  .cart-items {
    height: 15rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
    background-color: #039be5;
    font-family: "Montserrat";
    border-radius: 0;
  }
}
