.payment-container {
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 1rem;
  margin-bottom: 3rem;
  .payment-form-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    .payment-label {
      margin-bottom: 0.5rem;
    }
  }
  button {
    background-color: #039be5;
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .payment-container {
    padding: 0 1rem;
    .payment-form-container {
      min-width: 260px;
      display: flex;
      flex-direction: column;
      .payment-label {
        margin-bottom: 0.5rem;
      }
    }
  }
}
