.navigation {
  max-height: 3.5rem;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 5rem;
    padding: 1.3rem;
  }

  .nav-links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav-link {
      padding: 1rem;
      cursor: pointer;
    }
  }
}
hr {
  margin-bottom: 0.2rem;
}
.mid-navlinks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .nav-link {
    padding: 1rem 2rem;
    cursor: pointer;
  }
}

.bottom-nav {
  background: rgba(255, 217, 192, 0.3);
  width: 100vw;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  // display: none;
  opacity: 0;
}

@media (max-width: 600px) {
  .mid-navlinks-container {
    display: none;
  }
  .bottom-nav {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .mid-navlinks-container {
    justify-content: space-evenly;
    .nav-link {
      padding: 1rem;
    }
  }
}
