.checkout-item-container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 1rem 0;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;

  .quantity-container {
    display: flex;
    align-items: center;
  }

  .checkout-img {
    max-width: 7rem;
    height: 7rem;
    object-fit: cover;
  }
  .name {
    flex-wrap: wrap;
  }
  .price {
    width: auto;
  }
}

@media (max-width: 900px) {
  .checkout-item-container {
    justify-content: space-evenly;
    .checkout-img {
      width: 5rem;
      height: 4rem;
    }
    .name {
      display: none;
    }
  }
}
